node_modules/
dist/
dist-ssr/
*.local

# pnpm
.pnpm-store/

# Tauri
src-tauri/target/
src-tauri/gen/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
Desktop.ini

# Env
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Build
*.tsbuildinfo
*.d.ts
